:root {
  --main-color: rgb(255, 255, 255);
  --hover-color: rgba(4, 185, 209, 0.598);
  --active-color: #22b6b7;
  --text-color: rgb(0, 19, 41);
}

body {
  background: #c8f4f4;
  font-family: "Roboto", sans-serif;
  font-size: calc(10px + 0.35vw);
}

div.info-me-home p {
  width: 300px;
}

p {
  margin: 0;
}

p.text-content span {
  color: var(--main-color);
}

footer {
  background: #4014f06f;
  text-align: center;
  width: 100%;
  height: fit-content;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.page-container {
  position: relative;
  min-height: 100vh; /*make footer position bottom*/
}

.content-wrap {
  padding-bottom: 10em; /*footer size*/
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 0 5px 0;
}

.footer i {
  flex: 2 2 2;
  margin: 0 20px;
  font-size: 20px;
  color: white;
}

.footer i:hover {
  border: 5px solid transparent;
  font-size: 13px;
  border-radius: 50%;
  background: var(--hover-color);
}

.bg-color {
  background: #84f0f0;
}

.text-color-main {
  color: var(--main-color);
  font-weight: bolder;
}

.text-color-main:hover,
.text-color-main:focus {
  color: var(--hover-color);
}

.active-page {
  color: var(--active-color) !important;
}

.navbar-toggler:focus {
  --bs-navbar-toggler-focus-width: 0.1rem;
  color: var(--active-color);
}

.home-me-page {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: var(--active-color);
  padding: 30px;
  color: var(--text-color);
}

.photo-me-home h1 {
  font-weight: bold;
  font-size: 80px;
  margin-bottom: 0;
  font-size: calc(50px + 0.390625vw);
  line-height: 1.5;
}

.info-me-home {
  margin: 0 20px;
}

.button-home {
  display: block;
  margin: 15px auto 10px auto;
  width: 130px;
  border-radius: 5px;
  padding: calc(6px + 0.39vw);
  border: 1px solid transparent;
  background: #b0f5f5;
  text-decoration: none;
  color: var(--text-color);
  text-align: center;
  box-shadow: inset 1px 1px 0 0 hsla(0, 0%, 100%, 0.5), 0 3px 8px 0 #555a649f;
  transition: background 250ms ease-out;
}

.button-home:hover {
  background: transparent;
  border: 1px solid white;
  color: white;
}

.select-me-home span {
  color: var(--main-color);
}

.projects-box-home {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  block-size: auto;
}
.projects-box-home div {
  padding: 50px;
}
.projects-box-home img {
  max-width: 100%;
  max-height: 100%;
  object-fit: fill;
  border-radius: 5px;
  box-shadow: 1px 5px 10px rgba(0, 0, 0, 0.575);
}

.contact-box-home {
  display: flex;
  flex-direction: row;
  width: fit-content;
  margin: 0 auto;
  background: #84f0f0e4;
  border-radius: 5px;
  padding: 15px;
}

.contact-box-home button {
  font-size: 0.7em;
  text-transform: uppercase;
  transition: all 200ms ease-in-out;
}

.contact-box-home button:hover {
  background: var(--hover-color);
  border-color: transparent;
}
.about-me-page {
  /* background-color: #009b9b; */
  color: var(--text-color);
  padding: 30px 60px;
  text-align: center;
}

.story-me-about {
  display: grid;
  grid-template-columns: auto auto;
  grid-auto-rows: auto;
  clear: none;
  letter-spacing: normal;
  column-gap: 30px;
  text-align: justify;
}

.skills-box-about {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  block-size: auto;
  padding: 0 80px;
  align-items: baseline;
}
.skills-box-about div {
  width: 400px;
  margin-bottom: 30px;
}

.box-projects img {
  max-width: 90%;
  box-shadow: 1px 5px 10px rgba(0, 0, 0, 0.575);
  border-radius: 10px;
  border: 10px double rgb(255, 255, 255);
}

  margin-top: 40px;
}
.d-flex p {
  color: rgb(98, 74, 235);
  font-size: larger;
  padding: 20px 0 20px 20px;
}

.d-flex h1 {
  border-right: 2px solid rgba(98, 74, 235, 0.833);
  padding: 25px;
  height: 100%;
  text-align: right;
}

.d-flex h1 span {
  font-size: 0.5em;
  opacity: 40%;
}

.d-flex p:hover {
  border: 2px dashed rgba(98, 74, 235, 0.833);
  border-radius: 5px;
  background: white;
  box-shadow: 1px 5px 10px rgba(0, 0, 0, 0.146);
}

.d-flex a {
  padding: 20px;
  text-decoration: none;
  color: rgb(98, 74, 235);
}

@media (max-width: 794px) {
  body {
    font-size: calc(10px + 0.45vw);
  }

  .home-me-page h1 {
    font-size: calc(45px + 0.39vw);
  }

  .home-me-page {
    flex-direction: column;
  }

  .projects-box-home {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: space-between;
    block-size: auto;
  }

  .about-me-page {
    padding: 30px 30px;
  }
  .skills-box-about {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: space-between;
    block-size: auto;
    padding: 0 30px;
  }
  .skills-box-about div {
    width: 100%;
    margin-bottom: 30px;
  }

  .d-flex {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
  }
}
